body {
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/fon.jpg");
}

section{
  background-color: white;
}

.container{
  width: : 500px;
}

.slider{
  background: url("../imagenes/misti.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.sliderB{
  background: url("../imagenes/taxis.jpg");
  height: 20vh;
  background-size: cover;
  background-position: center;
}

.footer {
  bottom: 0;
  width: 100%;
  line-height: 100px;
  background-color: #2a2c2f;
  text-align: center;
}

th{
  text-align: center;
}

p{
  text-align: justify;
}

nav{
    background-color: #4682b4;
}

#map {
  width:auto;
  height:500px;
}

/*#005a65*/
