.slider{
  background: url("../imagenes/taxi.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.sliderB{
  background: url("../imagenes/taxis.jpg");
  height: 20vh;
  background-size: cover;
  background-position: center;
}

.footer {
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #292b2c;
  color: white;
}

th{
  text-align: center;
}

p{
  text-align: justify;
}

#map {
  width:auto;
  height:500px;
}
