.slider{
  background: url("../imagenes/taxi.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.sliderB{
  background: url("../imagenes/taxis.jpg");
  height: 20vh;
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: #2D22C3;
  background-repeat: repeat-x;
  border-color: #262629;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  color: white;

}
